
<div class="row" style='min-height:400px !important;'>
    <div class="col-md-12" style="background:#ffffff;">
		 <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Aldeaz Backup System</strong></h3>
            </div>		
			
			<div class="panel-body">
				<div class="row" style="width:100%">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<br/>
						<br/>
						<div class='form-horizontal'>
							<div class="form-group " >
								<label class="col-sm-4 control-label">Backup Database</label>
								<div class="col-sm-8">
									<a href="{$host}backupdb"  target='_blank' class="btn btn-primary m-b-10" >Backup</a> 
								</div>
							</div>
							<div class="form-group " >
								<label class="col-sm-4 control-label">Backup Aplikasi (__application)</label>
								<div class="col-sm-8">
									<a href="{$host}backup-application"  target='_blank' class="btn btn-primary m-b-10" >Backup</a> 
								</div>
							</div>
							<div class="form-group " >
								<label class="col-sm-4 control-label">Backup Aplikasi (__assets)</label>
								<div class="col-sm-8">
									<a href="{$host}backup-assets"  target='_blank' class="btn btn-primary m-b-10" >Backup</a> 
								</div>
							</div>
							<div class="form-group " >
								<label class="col-sm-4 control-label">Backup Aplikasi (__repository)</label>
								<div class="col-sm-8">
									<a href="{$host}backup-repository"  target='_blank' class="btn btn-primary m-b-10" >Backup</a> 
								</div>
							</div>
						</div>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
					</div>
				</div>
			</div>
			
		</div>
		
    </div>
</div>
<br>
<br>

<script>
</script>