<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>FORM INPUT</strong> Data User</h3>
            </div>
		<div class="panel-body">
				<div class="row" style="width:100%">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<form  parsley-validate id="form_input_{$acak}" method="post" class="form-horizontal" url="{$host}backoffice-simpan/admin/{$sts|default:'add'}">
							<input type="hidden" name="id" id="id_{$acak}" value="{$data.id|default:''}">
							{include file="backend/template/text.html" label="User Name" type="text" name="username" id_na="username" class="validasi" value=$data.username|default:''}
							{if $sts eq 'add'}
							{include file="backend/template/text.html" label="Password" type="pwd" name="password" id_na="password" class="validasi" value=$data.username|default:''}
							{/if}
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-2 control-label">Group</label>
								<div class="col-sm-8">
								  <div class="radio">
									<label>
										<input type="radio" name="flag_group" id="flag_group_{$acak}" value="A" {if $sts eq 'edit'}{if $data.flag_group eq 'A'}checked{/if}{else}checked{/if}>Administrator
									</label>
								  </div>
								  <div class="radio">
									<label>
										<input type="radio" name="flag_group" id="flag_group_{$acak}" value="G" {if $sts eq 'edit'}{if $data.flag_group eq 'G'}checked{/if}{/if}>Gudang
									</label>
								  </div>
								  <div class="radio">
									<label>
										<input type="radio" name="flag_group" id="flag_group_{$acak}" value="L" {if $sts eq 'edit'}{if $data.flag_group eq 'L'}checked{/if}{/if}>LKPP
									</label>
								  </div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-2 control-label">Status</label>
								<div class="col-sm-8">
								  <div class="checkbox">
									<label>
									  <input type="checkbox" name="status" id="status_{$acak}" value="1" {if $sts eq 'edit'}{if $data.status eq '1'}checked{/if}{else}checked{/if}> Aktif
									</label>
								  </div>
								</div>
							</div>
							<div class="col-sm-7 col-sm-offset-3">
								<div class="pull-right">
									{include file="backend/template/button.html" text="Simpan" id_na="simpan"}
									{include file="backend/template/button.html" text="Batal" style_btn="btn-default" id_na="batal" }
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var upl_vid=0;
	//gen_editor('#deskripsi{$acak}');
	$(".validasi").validatebox({ required:true }); 
	$('#batal_{$acak}').bind('click',function(){
		//tinyMCE.get("deskripsi{$acak}").save();
		$('#grid_nya_{$mod}').show();
		$('#detil_nya_{$mod}').hide();
	});
	$('#simpan_{$acak}').bind('click',function(){	
		//tinyMCE.get("deskripsi{$acak}").save();
		simpan_form('form_input_{$acak}','batal_{$acak}','Data Input Tingkatan Sudah Tersimpan');
	});
</script>