<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Complete</strong> Validation</h3>
            </div>
		<div class="panel-body">
				<div class="row" style="width:100%">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<form id="form1" class="form-horizontal" parsley-validate style="width:99%">
							{include file="backend/template/text.html" label="Judul Buku" type="text" name="judul_buku" id_na="judul_buku"}
							{include file="backend/template/text.html" label="Desc. Buku" type="textarea" name="deskripsi_buku" id_na="deskripsi_buku"}
							<div class="col-sm-7 col-sm-offset-3">
								<div class="pull-right">
									{include file="backend/template/button.html" text="Simpan"}
									{include file="backend/template/button.html" text="Batal" style_btn="btn-default"}
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>