
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form id="form1" class="form-horizontal" parsley-validate style="width:99%">
			<div class="form-group">
				<label class="col-sm-3 control-label">Name <span class="asterisk">*</span>
				</label>
				<div class="col-sm-9">
					<input type="text" parsley-minlength="3" class="form-control" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Email <span class="asterisk">*</span>
				</label>
				<div class="col-sm-9">
					<input type="text" parsley-type="email" class="form-control" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">URL</label>
				<div class="col-sm-9">
					<input type="url" name="url" class="form-control" parsley-type="url" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Phone Number</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" parsley-type="phone" placeholder="(XXX) XXXX XXX">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Comment <span class="asterisk">*</span>
				</label>
				<div class="col-sm-9">
					<textarea rows="5" class="form-control valid" placeholder="Write your comment... (minimum 3 words)" parsley-minwords="3" required></textarea>
				</div>
			</div>
			<div class="col-sm-9 col-sm-offset-3">
				<div class="pull-right">
					<button class="btn btn-primary m-b-10" onclick="javascript:$('#form1').parsley('validate');">Submit</button>
					<button type="reset" class="btn btn-default m-b-10">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>