<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>FORM INPUT</strong> Data Buku</h3>
            </div>
		<div class="panel-body">
				<div class="row" style="width:100%">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<form  parsley-validate id="form_input_{$acak}" method="post" class="form-horizontal" url="{$host}backoffice-simpan/tbl_buku/{$sts|default:'add'}">
							<input type="hidden" name="id" id="id_{$acak}" value="{$data.id|default:''}">
							{include file="backend/template/text.html" label="Tingkatan" type="select" name="tingkatan" id_na="tingkatan" data_combo=$tingkat class="validasi" id_combo=$data.id_tingkatan|default:'' }
							{include file="backend/template/text.html" label="Kelas" type="select" name="cl_kelas_id" id_na="cl_kelas_id" class="validasi"}
							{include file="backend/template/text.html" label="Group Sekolah" type="select" name="cl_group_sekolah" id_na="cl_group_sekolah" data_combo=$group class="validasi" id_combo=$data.cl_group_sekolah|default:''}
							{include file="backend/template/text.html" label="Kategori" type="select" name="cl_kategori_id" id_na="cl_kategori_id" data_combo=$kat class="validasi" id_combo=$data.cl_kategori_id|default:''}
							{include file="backend/template/text.html" label="Judul Buku" type="text" name="judul_buku" id_na="judul_buku" class="validasi" value=$data.judul_buku|default:''}
							{include file="backend/template/text.html" label="Desc. Buku" type="textarea" name="deskripsi_buku" id_na="deskripsi_buku" value=$data.deskripsi_buku|default:''}
							{include file="backend/template/text.html" label="Jml. Halaman" type="text" name="jml_hal" id_na="jml_hal" class='angka validasi' style="height:34px;font-size: 13px;padding: 8px 12px;text-align:right" value=$data.jml_hal|default:''}
							{include file="backend/template/text.html" label="Ukuran Buku" type="text" name="ukuran_buku" id_na="ukuran_buku" class="validasi" value=$data.ukuran_buku|default:''}
							{include file="backend/template/text.html" label="Harga Zona 1" type="text" name="harga_zona_1" id_na="harga_zona_1" class='angka validasi' style="height:34px;font-size: 13px;padding: 8px 12px;" value=$data.harga_zona_1|default:''}
							{include file="backend/template/text.html" label="Harga Zona 2" type="text" name="harga_zona_2" id_na="harga_zona_2" class='angka validasi' style="height:34px;font-size: 13px;padding: 8px 12px;" value=$data.harga_zona_2|default:''}
							{include file="backend/template/text.html" label="Harga Zona 3" type="text" name="harga_zona_3" id_na="harga_zona_3" class='angka validasi' style="height:34px;font-size: 13px;padding: 8px 12px;" value=$data.harga_zona_3|default:''}
							{include file="backend/template/text.html" label="Harga Zona 4" type="text" name="harga_zona_4" id_na="harga_zona_4" class='angka validasi' style="height:34px;font-size: 13px;padding: 8px 12px;" value=$data.harga_zona_4|default:''}
							{include file="backend/template/text.html" label="Harga Zona 5" type="text" name="harga_zona_5" id_na="harga_zona_5" class='angka validasi' style="height:34px;font-size: 13px;padding: 8px 12px;" value=$data.harga_zona_5|default:''}
							{include file="backend/template/upload.html" label="Upload Gambar" name="foto_buku" id_na="foto_buku"}
							<div class="col-sm-7 col-sm-offset-3">
								<div class="pull-right">
									{include file="backend/template/button.html" text="Simpan" id_na="simpan_buku"}
									{include file="backend/template/button.html" text="Batal" style_btn="btn-default" id_na="batal_buku"}
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	gen_editor('#deskripsi_buku{$acak}');
	$(".validasi").validatebox({ required:true }); 
	$('.angka').numberbox({
		min:0,
		precision:2,
		groupSeparator:','
	});

	$('#tingkatan{$acak}').change(function(){
		$('#cl_kelas_id{$acak}').empty();
		fillCombo(host+'backoffice-combo','cl_kelas_id{$acak}','cl_kelas',$(this).val(),'{$data.cl_kelas_id|default:''}');
	});
	
	$('#batal_buku_{$acak}').bind('click',function(){
		tinyMCE.get("deskripsi_buku{$acak}").save();
		$('#grid_nya_{$mod}').show();
		$('#detil_nya_{$mod}').hide();
	});
	$('#simpan_buku_{$acak}').bind('click',function(){
		tinyMCE.get("deskripsi_buku{$acak}").save();
		simpan_form('form_input_{$acak}','batal_buku_{$acak}','Data Input Buku Sudah Tersimpan');
	});
	{if $sts eq 'edit'}
		$('#tingkatan{$acak}').trigger('change');
	{/if}
</script>