<h2>Penjualan PerZona</h2>
<hr>
<div style="padding:10px;">
	<table class="table table-hover">
	<thead>
	<tr>
		<th style="text-align:left;">Zona</th>
		<th style="text-align:right;">Total</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td >Zona 1</td>
		<td align="right">{$data.zona_1|number_format:2:',':'.'|default:'-'}</td>
	</tr>
	<tr>
		<td >Zona 2</td>
		<td align="right">{$data.zona_2|number_format:2:',':'.'|default:'-'}</td>
	</tr>
	<tr>
		<td >Zona 3</td>
		<td align="right">{$data.zona_3|number_format:2:',':'.'|default:'-'}</td>
	</tr>
	<tr>
		<td >Zona 4</td>
		<td align="right">{$data.zona_4|number_format:2:',':'.'|default:'-'}</td>
	</tr>
	<tr>
		<td >Zona 5</td>
		<td align="right">{$data.zona_5|number_format:2:',':'.'|default:'-'}</td>
	</tr>
	</tbody>
	
	</table>
</div>
<script>

</script>