
<div class="row" >
    <div class="col-md-6">
       <div id='charttable_{$acak}'></div>
    </div>
    <div class="col-md-6" style="background:#ffffff;">
        <div id='charttable2_{$acak}' style="background:#ffffff;"></div>
    </div>
</div>
<br>
<br>
<div class="row" >
    <div class="col-md-6" >
		<div style="background:#ffffff;padding:2px;">
		   <div id='charttable3_{$acak}'></div>
		</div>   
    </div>
    <div class="col-md-6" style="background:#ffffff;">
        <div id='charttable4_{$acak}'></div>
    </div>
</div>

<script>
	$.post(host+'backoffice-GetDataChart',{ mod:'produk_laris' },function(r){
		var x=JSON.parse(r);
		chart_na('charttable_{$acak}',"column","Jumlah Buku Terlaris",'',"",x.x,x.y,"");
	});
	$.post(host+'backoffice-Dashboard',{ mod:'dashboard_penjualan' },function(r){
		$('#charttable2_{$acak}').html(r);
	});
	$.post(host+'backoffice-Dashboard',{ mod:'dashboard_penjualan_umum' },function(r){
		$('#charttable3_{$acak}').html(r);
	});
	$.post(host+'backoffice-Dashboard',{ mod:'dashboard_penjualan_zona' },function(r){
		$('#charttable4_{$acak}').html(r);
	});
</script>