
{if $mod eq 'invoice' ||$mod eq 'invoice_umum'|| $mod eq 'konfirmasi' || $mod eq 'gudang_konfirmasi' || $mod eq 'gudang_kirim' || $mod eq 'member_sekolah' || $mod eq 'member_umum' || $mod eq 'monitor_order'}
{include file="backend/template/grid.html" main={$mod} button="false" table={$table|default:''} filter="true" }
	{if $mod eq 'konfirmasi'}
	<div class="modol" ></div>
		
	{/if}
{else}
{include file="backend/template/grid.html" main={$mod} button="true" table={$table|default:''} filter="true"}
{/if}