<!-- Bootstrap CSS
		============================================ -->		
        <link rel="stylesheet" href="{$host}__assets/ef/css/bootstrap.min.css">
		<!-- Bootstrap CSS
		============================================ -->
        <link rel="stylesheet" href="{$host}__assets/ef/css/font-awesome.min.css">
		<!-- owl.carousel CSS
		============================================ -->
        <link rel="stylesheet" href="{$host}__assets/ef/css/owl.carousel.css">
        <link rel="stylesheet" href="{$host}__assets/ef/css/owl.theme.css">
        <link rel="stylesheet" href="{$host}__assets/ef/css/owl.transitions.css">
		<!-- nivo slider CSS
		============================================ -->
		<link rel="stylesheet" href="{$host}__assets/ef/lib/css/nivo-slider.css" type="text/css" />
		<link rel="stylesheet" href="{$host}__assets/ef/lib/css/preview.css" type="text/css" media="screen" />
		<!-- jquery-ui CSS
		============================================ -->
        <link rel="stylesheet" href="{$host}__assets/ef/css/jquery-ui.css">
		<!-- meanmenu CSS
		============================================ -->
        <link rel="stylesheet" href="{$host}__assets/ef/css/meanmenu.min.css">
		<!-- animate CSS
		============================================ -->
        <link rel="stylesheet" href="{$host}__assets/ef/css/animate.css">
		<!-- normalize CSS
		============================================ -->
        <link rel="stylesheet" href="{$host}__assets/ef/css/normalize.css">
		<!-- main CSS
		============================================ -->
        <link rel="stylesheet" href="{$host}__assets/ef/css/main.css">
		<!-- custom color CSS
		============================================ -->
        <link rel="stylesheet" href="{$host}__assets/ef/css/color-one.css">
		<!-- shortcodes CSS
		============================================ -->
        <link rel="stylesheet" href="{$host}__assets/ef/css/shortcodes/shortcodes.css">
		<!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="{$host}__assets/ef//css/style.css">
		<!-- responsive CSS
		============================================ -->
        <link rel="stylesheet" href="{$host}__assets/ef/css/responsive.css">
		<!-- modernizr JS
		============================================ -->			
        <script src="{$host}__assets/ef/js/vendor/modernizr-2.8.3.min.js"></script>
		
<div class="page-content">
	<div class="contact-us-area padding100 bg-white-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="contact-form-area">
						<div class="form-wrap">

								<div class="form-inner" style='min-height:300px !important;'>

								<!-- cara belanja aldeaz.id -->
                                <div class="features-accordion">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default ">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                <a class="collapsed"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> How long does it take to have a web site designed?</a></h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac ante nec sapien sodales venenatis. Sed eget commodo eros, et pharetra ex. Aliquam molestie id lectus vel accumsan. Nulla tempus imperdiet leo, eu maximus lacus gravida gravida. Curabitur quis vestibulum diam. Proin sed interdum turpis. In nisi dui, blandit quis dictum quis, auctor id dolor. In cursus lorem eu interdum hendrerit. Donec hendrerit, metus posuere condimentum tincidunt, elit massa imperdiet massa, vitae dictum diam metus a ante. In massa mi, hendrerit at massa nec, interdum aliquam nunc. </p>

													<p>Nunc interdum risus id nisi imperdiet, ac vehicula felis tempus. Quisque eu elit et augue pulvinar hendrerit. Quisque et cursus lacus, eget ultrices erat. Sed eu luctus dolor. Aenean non egestas enim, ut placerat eros. Sed finibus viverra dolor, ut efficitur nunc venenatis non.</p>

													<p>In nec metus eget nisi rhoncus pellentesque. Sed convallis, enim in feugiat vehicula, ipsum tellus ultricies dui, finibus suscipit nisi nisl ut eros. Nunc cursus, nibh a tempor pharetra, nibh massa placerat est, vitae scelerisque mi nisi sit amet lorem. Vestibulum sit amet eros pulvinar, dictum nulla in, iaculis mauris. Quisque facilisis felis vel nisl aliquam pharetra. Aenean luctus cursus neque et sagittis. Proin euismod lorem sem, eu commodo ante gravida sit amet.</p> 

													<p>Aenean egestas ex et orci fermentum, dignissim tempor ante sollicitudin. Integer sollicitudin, neque nec sodales tincidunt, enim magna tristique neque, non iaculis neque arcu in dolor. Etiam vehicula fermentum scelerisque. Vestibulum sit amet faucibus arcu, ac vehicula lectus. Morbi dui nibh, venenatis ac pulvinar vitae, feugiat id nisi. Donec id eros vel turpis gravida porta ut quis sapien. Aenean turpis felis, faucibus ac laoreet luctus, ornare quis magna.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default ">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    What Do I Put On My Site?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac ante nec sapien sodales venenatis. Sed eget commodo eros, et pharetra ex. Aliquam molestie id lectus vel accumsan. Nulla tempus imperdiet leo, eu maximus lacus gravida gravida. Curabitur quis vestibulum diam. Proin sed interdum turpis. In nisi dui, blandit quis dictum quis, auctor id dolor. In cursus lorem eu interdum hendrerit. Donec hendrerit, metus posuere condimentum tincidunt, elit massa imperdiet massa, vitae dictum diam metus a ante. In massa mi, hendrerit at massa nec, interdum aliquam nunc. </p>

													<p>Nunc interdum risus id nisi imperdiet, ac vehicula felis tempus. Quisque eu elit et augue pulvinar hendrerit. Quisque et cursus lacus, eget ultrices erat. Sed eu luctus dolor. Aenean non egestas enim, ut placerat eros. Sed finibus viverra dolor, ut efficitur nunc venenatis non.</p>

													<p>In nec metus eget nisi rhoncus pellentesque. Sed convallis, enim in feugiat vehicula, ipsum tellus ultricies dui, finibus suscipit nisi nisl ut eros. Nunc cursus, nibh a tempor pharetra, nibh massa placerat est, vitae scelerisque mi nisi sit amet lorem. Vestibulum sit amet eros pulvinar, dictum nulla in, iaculis mauris. Quisque facilisis felis vel nisl aliquam pharetra. Aenean luctus cursus neque et sagittis. Proin euismod lorem sem, eu commodo ante gravida sit amet.</p> 

													<p>Aenean egestas ex et orci fermentum, dignissim tempor ante sollicitudin. Integer sollicitudin, neque nec sodales tincidunt, enim magna tristique neque, non iaculis neque arcu in dolor. Etiam vehicula fermentum scelerisque. Vestibulum sit amet faucibus arcu, ac vehicula lectus. Morbi dui nibh, venenatis ac pulvinar vitae, feugiat id nisi. Donec id eros vel turpis gravida porta ut quis sapien. Aenean turpis felis, faucibus ac laoreet luctus, ornare quis magna.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    What is the difference between a “static” and a “dynamic” site?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac ante nec sapien sodales venenatis. Sed eget commodo eros, et pharetra ex. Aliquam molestie id lectus vel accumsan. Nulla tempus imperdiet leo, eu maximus lacus gravida gravida. Curabitur quis vestibulum diam. Proin sed interdum turpis. In nisi dui, blandit quis dictum quis, auctor id dolor. In cursus lorem eu interdum hendrerit. Donec hendrerit, metus posuere condimentum tincidunt, elit massa imperdiet massa, vitae dictum diam metus a ante. In massa mi, hendrerit at massa nec, interdum aliquam nunc. </p>

													<p>Nunc interdum risus id nisi imperdiet, ac vehicula felis tempus. Quisque eu elit et augue pulvinar hendrerit. Quisque et cursus lacus, eget ultrices erat. Sed eu luctus dolor. Aenean non egestas enim, ut placerat eros. Sed finibus viverra dolor, ut efficitur nunc venenatis non.</p>

													<p>In nec metus eget nisi rhoncus pellentesque. Sed convallis, enim in feugiat vehicula, ipsum tellus ultricies dui, finibus suscipit nisi nisl ut eros. Nunc cursus, nibh a tempor pharetra, nibh massa placerat est, vitae scelerisque mi nisi sit amet lorem. Vestibulum sit amet eros pulvinar, dictum nulla in, iaculis mauris. Quisque facilisis felis vel nisl aliquam pharetra. Aenean luctus cursus neque et sagittis. Proin euismod lorem sem, eu commodo ante gravida sit amet.</p> 

													<p>Aenean egestas ex et orci fermentum, dignissim tempor ante sollicitudin. Integer sollicitudin, neque nec sodales tincidunt, enim magna tristique neque, non iaculis neque arcu in dolor. Etiam vehicula fermentum scelerisque. Vestibulum sit amet faucibus arcu, ac vehicula lectus. Morbi dui nibh, venenatis ac pulvinar vitae, feugiat id nisi. Donec id eros vel turpis gravida porta ut quis sapien. Aenean turpis felis, faucibus ac laoreet luctus, ornare quis magna.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingfour">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                                    Why do you ask for a detailed system requirements?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac ante nec sapien sodales venenatis. Sed eget commodo eros, et pharetra ex. Aliquam molestie id lectus vel accumsan. Nulla tempus imperdiet leo, eu maximus lacus gravida gravida. Curabitur quis vestibulum diam. Proin sed interdum turpis. In nisi dui, blandit quis dictum quis, auctor id dolor. In cursus lorem eu interdum hendrerit. Donec hendrerit, metus posuere condimentum tincidunt, elit massa imperdiet massa, vitae dictum diam metus a ante. In massa mi, hendrerit at massa nec, interdum aliquam nunc. </p>

													<p>Nunc interdum risus id nisi imperdiet, ac vehicula felis tempus. Quisque eu elit et augue pulvinar hendrerit. Quisque et cursus lacus, eget ultrices erat. Sed eu luctus dolor. Aenean non egestas enim, ut placerat eros. Sed finibus viverra dolor, ut efficitur nunc venenatis non.</p>

													<p>In nec metus eget nisi rhoncus pellentesque. Sed convallis, enim in feugiat vehicula, ipsum tellus ultricies dui, finibus suscipit nisi nisl ut eros. Nunc cursus, nibh a tempor pharetra, nibh massa placerat est, vitae scelerisque mi nisi sit amet lorem. Vestibulum sit amet eros pulvinar, dictum nulla in, iaculis mauris. Quisque facilisis felis vel nisl aliquam pharetra. Aenean luctus cursus neque et sagittis. Proin euismod lorem sem, eu commodo ante gravida sit amet.</p> 

													<p>Aenean egestas ex et orci fermentum, dignissim tempor ante sollicitudin. Integer sollicitudin, neque nec sodales tincidunt, enim magna tristique neque, non iaculis neque arcu in dolor. Etiam vehicula fermentum scelerisque. Vestibulum sit amet faucibus arcu, ac vehicula lectus. Morbi dui nibh, venenatis ac pulvinar vitae, feugiat id nisi. Donec id eros vel turpis gravida porta ut quis sapien. Aenean turpis felis, faucibus ac laoreet luctus, ornare quis magna.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingfive">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                                    Do I need to send a deposit for the work?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac ante nec sapien sodales venenatis. Sed eget commodo eros, et pharetra ex. Aliquam molestie id lectus vel accumsan. Nulla tempus imperdiet leo, eu maximus lacus gravida gravida. Curabitur quis vestibulum diam. Proin sed interdum turpis. In nisi dui, blandit quis dictum quis, auctor id dolor. In cursus lorem eu interdum hendrerit. Donec hendrerit, metus posuere condimentum tincidunt, elit massa imperdiet massa, vitae dictum diam metus a ante. In massa mi, hendrerit at massa nec, interdum aliquam nunc. </p>

													<p>Nunc interdum risus id nisi imperdiet, ac vehicula felis tempus. Quisque eu elit et augue pulvinar hendrerit. Quisque et cursus lacus, eget ultrices erat. Sed eu luctus dolor. Aenean non egestas enim, ut placerat eros. Sed finibus viverra dolor, ut efficitur nunc venenatis non.</p>

													<p>In nec metus eget nisi rhoncus pellentesque. Sed convallis, enim in feugiat vehicula, ipsum tellus ultricies dui, finibus suscipit nisi nisl ut eros. Nunc cursus, nibh a tempor pharetra, nibh massa placerat est, vitae scelerisque mi nisi sit amet lorem. Vestibulum sit amet eros pulvinar, dictum nulla in, iaculis mauris. Quisque facilisis felis vel nisl aliquam pharetra. Aenean luctus cursus neque et sagittis. Proin euismod lorem sem, eu commodo ante gravida sit amet.</p> 

													<p>Aenean egestas ex et orci fermentum, dignissim tempor ante sollicitudin. Integer sollicitudin, neque nec sodales tincidunt, enim magna tristique neque, non iaculis neque arcu in dolor. Etiam vehicula fermentum scelerisque. Vestibulum sit amet faucibus arcu, ac vehicula lectus. Morbi dui nibh, venenatis ac pulvinar vitae, feugiat id nisi. Donec id eros vel turpis gravida porta ut quis sapien. Aenean turpis felis, faucibus ac laoreet luctus, ornare quis magna.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingsix">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                                    How can we pay you?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac ante nec sapien sodales venenatis. Sed eget commodo eros, et pharetra ex. Aliquam molestie id lectus vel accumsan. Nulla tempus imperdiet leo, eu maximus lacus gravida gravida. Curabitur quis vestibulum diam. Proin sed interdum turpis. In nisi dui, blandit quis dictum quis, auctor id dolor. In cursus lorem eu interdum hendrerit. Donec hendrerit, metus posuere condimentum tincidunt, elit massa imperdiet massa, vitae dictum diam metus a ante. In massa mi, hendrerit at massa nec, interdum aliquam nunc. </p>

													<p>Nunc interdum risus id nisi imperdiet, ac vehicula felis tempus. Quisque eu elit et augue pulvinar hendrerit. Quisque et cursus lacus, eget ultrices erat. Sed eu luctus dolor. Aenean non egestas enim, ut placerat eros. Sed finibus viverra dolor, ut efficitur nunc venenatis non.</p>

													<p>In nec metus eget nisi rhoncus pellentesque. Sed convallis, enim in feugiat vehicula, ipsum tellus ultricies dui, finibus suscipit nisi nisl ut eros. Nunc cursus, nibh a tempor pharetra, nibh massa placerat est, vitae scelerisque mi nisi sit amet lorem. Vestibulum sit amet eros pulvinar, dictum nulla in, iaculis mauris. Quisque facilisis felis vel nisl aliquam pharetra. Aenean luctus cursus neque et sagittis. Proin euismod lorem sem, eu commodo ante gravida sit amet.</p> 

													<p>Aenean egestas ex et orci fermentum, dignissim tempor ante sollicitudin. Integer sollicitudin, neque nec sodales tincidunt, enim magna tristique neque, non iaculis neque arcu in dolor. Etiam vehicula fermentum scelerisque. Vestibulum sit amet faucibus arcu, ac vehicula lectus. Morbi dui nibh, venenatis ac pulvinar vitae, feugiat id nisi. Donec id eros vel turpis gravida porta ut quis sapien. Aenean turpis felis, faucibus ac laoreet luctus, ornare quis magna.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingseven">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                                                    What is the difference between a “static” and a “dynamic” site?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseseven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingseven">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac ante nec sapien sodales venenatis. Sed eget commodo eros, et pharetra ex. Aliquam molestie id lectus vel accumsan. Nulla tempus imperdiet leo, eu maximus lacus gravida gravida. Curabitur quis vestibulum diam. Proin sed interdum turpis. In nisi dui, blandit quis dictum quis, auctor id dolor. In cursus lorem eu interdum hendrerit. Donec hendrerit, metus posuere condimentum tincidunt, elit massa imperdiet massa, vitae dictum diam metus a ante. In massa mi, hendrerit at massa nec, interdum aliquam nunc. </p>

													<p>Nunc interdum risus id nisi imperdiet, ac vehicula felis tempus. Quisque eu elit et augue pulvinar hendrerit. Quisque et cursus lacus, eget ultrices erat. Sed eu luctus dolor. Aenean non egestas enim, ut placerat eros. Sed finibus viverra dolor, ut efficitur nunc venenatis non.</p>

													<p>In nec metus eget nisi rhoncus pellentesque. Sed convallis, enim in feugiat vehicula, ipsum tellus ultricies dui, finibus suscipit nisi nisl ut eros. Nunc cursus, nibh a tempor pharetra, nibh massa placerat est, vitae scelerisque mi nisi sit amet lorem. Vestibulum sit amet eros pulvinar, dictum nulla in, iaculis mauris. Quisque facilisis felis vel nisl aliquam pharetra. Aenean luctus cursus neque et sagittis. Proin euismod lorem sem, eu commodo ante gravida sit amet.</p> 

													<p>Aenean egestas ex et orci fermentum, dignissim tempor ante sollicitudin. Integer sollicitudin, neque nec sodales tincidunt, enim magna tristique neque, non iaculis neque arcu in dolor. Etiam vehicula fermentum scelerisque. Vestibulum sit amet faucibus arcu, ac vehicula lectus. Morbi dui nibh, venenatis ac pulvinar vitae, feugiat id nisi. Donec id eros vel turpis gravida porta ut quis sapien. Aenean turpis felis, faucibus ac laoreet luctus, ornare quis magna.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                				<!--cara belanja buku sampai konfirmasi pembayaran -->
								</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{$host}__assets/ef/js/vendor/jquery-1.11.3.min.js"></script>
		<!-- mixitup JS
		============================================ -->		
        <script src="{$host}__assets/ef/js/jquery.mixitup.js"></script>		
		<!-- bootstrap JS
		============================================ -->		
        <script src="{$host}__assets/ef/js/bootstrap.min.js"></script>
        <script src="{$host}__assets/ef/js/bootstrap-select.min.js"></script>
		<!-- wow JS
		============================================ -->		
        <script src="{$host}__assets/ef/js/wow.min.js"></script>
		<!-- price-slider JS
		============================================ -->		
        <script src="{$host}__assets/ef/js/jquery-price-slider.js"></script>		
		<!-- meanmenu JS
		============================================ -->		
        <script src="{$host}__assets/ef/js/jquery.meanmenu.js"></script>
		<!-- owl.carousel JS
		============================================ -->		
        <script src="{$host}__assets/ef/js/owl.carousel.min.js"></script>
		<!-- counterup JS
		============================================ -->		
        <script src="{$host}__assets/ef/js/jquery.counterup.min.js"></script>
		<script src="../../../../cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<!-- sliphover JS
		============================================ -->		
        <script src="{$host}__assets/ef/js/jquery.sliphover.min.js"></script>
		<!-- Nivo slider js
		============================================ --> 		
		<script src="{$host}__assets/ef/lib/js/jquery.nivo.slider.js" type="text/javascript"></script>
		<script src="{$host}__assets/ef/lib/home.js" type="text/javascript"></script>
		<!-- scrollUp JS
		============================================ -->		
        <script src="{$host}__assets/ef/js/jquery.scrollUp.min.js"></script>
        <!-- bxslider JS
		============================================ -->		
        <script src="{$host}__assets/ef/js/jquery.bxslider.min.js"></script>
		<!-- masonry JS
		============================================ -->		
        <script src="{$host}__assets/ef/js/masonry.pkgd.min.js"></script>
		<!-- plugins JS
		============================================ -->		
        <script src="{$host}__assets/ef/js/plugins.js"></script>
		<!-- main JS
		============================================ -->		
        <script src="{$host}__assets/ef/js/main.js"></script>