<div class="page-content"> 
<div class="container main-container headerOffset">
    <div class="row" style="margin-top:-30px;">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row" style="margin:30px 0;">
                <div class="well" style="background-color:#fff;">
                    <ul class="list-number">
                        <li> 1. Klik menu <b><a href="javascript:void(0);" onClick="kumpulAction('lgnpmb');" >Masuk</a></b> di menu utama</li>
						
                        <li> 2. Pilih <b>PROVINSI</b> tempat Anda berada untuk menentukan zona harga, kemudian klik tombol <b>Lanjut Belanja</b></li>
                        <li> 3. Silahkan pilih buku dengan cara mengetikkan judul pada kolom pencarian</li>
                        <li> 4. Arahkan pointer mouse pada gambar buku yang terlihat kemudian klik icon mata untuk melihat detail buku</li>
                        <li> 5. Baca detail buku, jika sudah yakin buku tersebut yang Anda cari kemudian tentukan jumlah buku yang akan di beli kemudian klik tombol <b>BELI</b> </li>
                        <li> 6. Buku yang telah Anda beli berada di keranjang belanja di kanan atas website, klik icon keranjang belanja untuk melihat detail buku yang Anda beli</li>
                        <li> 7. Tentukan nama Jasa Pengiriman dan Metode Pembayaran, isikan NPSN (untuk pembeli sekolah) atau email untuk pembeli umum kemudian klik tombol <b> CEK DATA</b></li>
                        <li> 8. Isi semua form dengan data yang benar kemudian klik tombol <b>SELESAI BELANJA</b></li>
                        <li> 9. Silahkan cek email Anda untuk melihat detail pesanan dan rekening bank untuk transfer pembayaran pesanan</b></li>
                        <li>10. Setelah melakukan pembayaran silahkan lanjutkan dengan klik tombol <a href="{$host}konfirmasi"><b>KONFIRMASI</b></a> isi semua form dengan benar kemudian klik tombol <b>KONFIRMASI</b></li>
                        <li>11. Silahkan tunggu beberapa saat, administrator aldeaz.id akan segera mengecek pembayaran Anda dan memberikan verifikasi</li>
                        <li>12. Untuk melacak pesanan pergunakan tombol <a href="{$host}lacakpesanan"><b>LACAK PESANAN</b></a></li>
                        <li>13. Untuk mengetahui riwayat pembelian Anda pergunakan tombol <a href="{$host}riwayatpesanan"><b>RIWAYAT</b></a></li>
                        <li>14. Untuk membatalkan pesanan Anda pergunakan tombol <a href="{$host}pembatalan"><b>PEMBATALAN</b></a></li>
                        <li>15. Untuk melakukan komplain terhadap pembelian Anda pergunakan tombol <a href="{$host}komplain"><b>LAYANAN KOMPLAIN</b></a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>

</div>