<html>
<body style='background:#E8E8E9;'>
	<table width='80%' style='margin-left:10%;background:#fff;'>
		<tr>
			<td style='padding:10px;'>
				<center><img src="http://jingga.co.id/__projecttemp/aldeaz/logo.png" style="max-width:600px;" id="headerImage" mc:label="header_image" mc:edit="header_image" mc:allowdesigner mc:allowtext /></center>
			</td>
		</tr>
		<tr>
			<td style='padding:10px;'>
				TERIMA KASIH SUDAH MELAKUKAN REGISTRASI.
				<br />
				Silahkan masuk kedalam webstore aplikasi kami dengan data akun sebagai berikut :
			</td>
		</tr>
		<tr>
			<td>
				<table width='100%' style='margin-top:10px;margin-bottom:10px;'>
					<tr>
						<td width='25%'>Nama Sekolah</td>
						<td width='5%'>:</td>
						<td width='70%'>{$data_registrasi.nama_sekolah}</td>
					</tr>
					<tr>
						<td>NPSN</td>
						<td>:</td>
						<td>{$data_registrasi.npsn}</td>
					</tr>
					<tr>
						<td>Nama Kepala Sekolah</td>
						<td>:</td>
						<td>{$data_registrasi.nama_kepala_sekolah}</td>
					</tr>
					<tr>
						<td colspan='3'>&nbsp;</td>
					</tr>
					<tr>
						<td>Username</td>
						<td>:</td>
						<td>{$data_registrasi.nama_user}</td>
					</tr>
					<tr>
						<td>Password</td>
						<td>:</td>
						<td>{$password}</td>
					</tr>

				</td>
			</td>
		</tr>
		<tr>
			<td style='padding:10px;'>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				CV. Aldeaz Sejahtera Printing - www.aldeaz.id www.aldeaz.com
			</td>
		</tr>
	</table>
</body>
</html>