<html>
<body style='background:#E8E8E9;'>
	<table width='80%' style='margin-left:10%;background:#fff;'>
		<tr>
			<td style='padding:10px;'>
				<center><img src="http://jingga.co.id/__projecttemp/aldeaz/logo.png" style="max-width:600px;" id="headerImage" mc:label="header_image" mc:edit="header_image" mc:allowdesigner mc:allowtext /></center>
			</td>
		</tr>
		<tr>
			<td style='padding:10px;'>
				TERIMA KASIH SUDAH MELAKUKAN PEMESANAN BUKU DALAM WEBSTORE ALDEAZ.ID.
				<br />
				Sesuai dengan permintaan anda untuk pembatalan pesanan anda, maka kami kirimkan Kode Pembatalan sebagai berikut :
				<br>
				<table width='100%' style='margin-top:10px;margin-bottom:10px;'>
					<tr>
						<td width='25%'>No. Pemesanan</td>
						<td width='5%'>:</td>
						<td width='70%'>{$no_order}</td>
					</tr>
					<tr>
						<td>Kode Pembatalan</td>
						<td>:</td>
						<td>{$kode_pembatalan}</td>
					</tr>
				</table>
				<br>
				Silahkan masuk kehalaman pembatalan kembali dan masukkan Kode Pembatalan tersebut pada form yang sudah disediakan.
			</td>
		</tr>
		<tr>
			<td style='padding:10px;'>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				CV. Aldeaz Sejahtera Printing - www.aldeaz.id www.aldeaz.com
			</td>
		</tr>
	</table>
</body>
</html>