<html>
<body style='background:#E8E8E9;'>
	<table width='80%' style='margin-left:10%;background:#fff;'>
		<tr>
			<td style='padding:10px;'>
				<center><img src="http://jingga.co.id/__projecttemp/aldeaz/logo.png" style="max-width:600px;" id="headerImage" mc:label="header_image" mc:edit="header_image" mc:allowdesigner mc:allowtext /></center>
			</td>
		</tr>
		<tr>
			<td style='padding:10px;'>
				TERIMA KASIH SUDAH MELAKUKAN KONFIRMASI PEMBAYARAN.
				<br />
				Kami akan melakukan verifikasi terhadap konfirmasi pembayaran anda terlebih dahulu.
				<br>
				Silahkan masuk kehalaman konfirmasi kembali untuk mendapatkan BAST & Kwitansi Pembayaran
			</td>
		</tr>
		<tr>
			<td>
				<table width='100%' style='margin-top:10px;margin-bottom:10px;'>
					<tr>
						<td width='25%'>No. Pemesanan</td>
						<td width='5%'>:</td>
						<td width='70%'>{$no_order}</td>
					</tr>
				</td>
			</td>
		</tr>
		<tr>
			<td style='padding:10px;'>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				CV. Aldeaz Sejahtera Printing - www.aldeaz.id www.aldeaz.com
			</td>
		</tr>
	</table>
</body>
</html>