<div class="page-content">
	<!--div class="page-header-v1 bg-1 overlay-bg  text-center">
		<div class="page-header-inner">
			<p class="page-category">&nbsp;</p>
			<h2 class="page-title">KATALOG BUKU ALDEAZ.ID</h2>
			<div class="breadcrumbs">
				&nbsp;
			</div>
		</div>
	</div-->
	
	<div class="shop-area shop-page bg-white-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8 left-side-wrap-v1 ">
					<div class="shop-content-area">
						<div class="row">
							<div class="product-toolbar clear">
								<div class="form-inner" >
									<div class="single-input one-half left">
										<label>&nbsp;</label> 
										<input id="cari" type="text" placeholder='Cari Judul Buku Pilihan Anda' />
									</div>
									<div class="single-input one-half right">
										<label>&nbsp;</label> 
										<div class="submit-btn-area">
											<a  href='javascript:void(0);' onClick="searchdt();" class="estut-btn active submit">Cari</a>
										</div>
									</div>
								</div>

							</div>
						</div>
						
						<div id='konten-utama-buku'>
						<div class="row">
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane fade in active" id="grid">
									{if $data_buku}
										<div id='konten-buku'>
										{foreach from=$data_buku item=row}
											<div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
												<div class="single-product text-center">
													<div class="pro-thumb overlay-bg">
														<img src="{$row.foto_buku}" alt="{$row.judul_buku}" style='height:200px !important;' />
														<div class="hover-btn">
															<ul class="action-buttons">
																<li class="quickview"><a href="javascript:void(0);" onClick="productwindow('{$row.id}');" ><i class="fa fa-hand-o-up"> Detail Buku</i></a></li>
															</ul>
														</div>
													</div>
												
													<div class="pro-info" style='min-height:150px !important;'>
														<p class="pro-category" style='margin-bottom:5px !important;'>{$row.nama_kategori}</p>
														<div style='margin-bottom:5px;'><font style='font-size:15px !important;'>{$row.judul_buku}</font></div>
														<div><font style='font-size:18px !important;'>Rp. {$row.harga_buku_bener|default:''}</font></div>
													</div>
												</div>
											</div>
										{/foreach}
										</div>
									{else}
									<center>-- Tidak Ada Data Tersedia -- </center>
									{/if}
								</div>						
							</div>
						</div>
						<div class="row">
							<div class="pagination-area-v1">
								<div class="col-md-12 text-left">
									Halaman :
									<select id='pag' onChange='pagjs();' style='width:70px !important;'>
										{foreach from=$array_paging item=pag}
											<option value='{$pag.limitnya}'>{$pag.angka}</option>
										{/foreach}
									</select>
									
								</div>
							</div>
						</div>
						</div>
						
						
					</div>
				</div>
			
				<div class="col-md-4 right-side-wrap-v1">
					<div class="widget-wrap">
						<aside class="widget widget-categories">
							<h3 class="widget-title-v2">Katalog</h3>
							<div class="widget-content">
								<div id='categorymenu'>
									<ul class="widget-menu widget-menu widget-submenu">   
										{foreach from=$data_tingkatan item=row}
											 <li {if $row.detil}class='has-sub'{/if}><a href='javascript:void(0);' >{$row.tingkatan}</a>
											 {if $row.detil}
												<ul>
													{foreach from=$row.detil item=riw}
														<li><a href='javascript:void(0);' onClick="loaddatabook('tingk','{$riw.id}');">{$riw.nama_kelas}</a></li>
													{/foreach}
												</ul>
											 {/if}
											 </li>
										{/foreach}
									</ul>
								</div>
							</div>
						</aside>
						<aside class="widget widget-filtering">
							<h3 class="widget-title-v2">Kategori</h3>
							<div class="widget-content">
								<div id='categorymenu'>
									<ul class="widget-menu widget-submenu">   
										{foreach from=$data_kategori item=rows}
											<li><a href='javascript:void(0);' onClick="loaddatabook('kate','{$rows.id}');">{$rows.nama_kategori}</a></li>
										{/foreach}
									</ul>
								</div>
							</div>							
						</aside>
						<aside class="widget widget-categories">
							<h3 class="widget-title-v2">Pengguna Buku</h3>
							<div class="widget-content">
								<div id='categorymenu'>
									<ul class="widget-menu widget-submenu">   
										{foreach from=$data_pengguna item=rowss}
											<li><a href='javascript:void(0);' onClick="loaddatabook('grp','{$rowss.id}');" >{$rowss.nama_group}</a></li>
										{/foreach}
									</ul>
								</div>							
							</div>							
						</aside>
					</div>
				</div>
			
			</div>
		</div>
	</div>
	
</div>

<script>
	$('#categorymenu li.active').addClass('open').children('ul').show();
	$('#categorymenu li.has-sub>a').on('click', function() {
		$(this).removeAttr('href');
		var element = $(this).parent('li');
		if (element.hasClass('open')) {
			element.removeClass('open');
			element.find('li').removeClass('open');
			element.find('ul').slideUp(400);
		} else {
			element.addClass('open');
			element.children('ul').slideDown(400);
			element.siblings('li').children('ul').slideUp(400);
			element.siblings('li').removeClass('open');
			element.siblings('li').find('li').removeClass('open');
			element.siblings('li').find('ul').slideUp(400);
		}
	});
	
	function productwindow(idpro){
		$('.modal-dialog').css( { 'width':'870px' } );
		$('#modalencuk').html('');
		$.post(host+'detil-produk', { 'isds':idpro }, function(resp){
			parsingan = $.parseJSON(resp)
			$('#modalencuk').html(parsingan.page);
			$('#productModal').modal('show'); 
		});
	}
	
	//function pagjs(idx, delimeter, typp, ixds){
	function pagjs(typp, ixds, srch){
		var delimeter = $('#pag').val();
		$('#konten-buku').html('');
		$('#konten-buku-lebar').html('');
		$.post(host+'paginationdata', { 'dtype':'one', 'lmt':delimeter, 'ty':typp, 'isd':ixds, 'cr':srch }, function(rp){
			parspro = $.parseJSON(rp);
			$('#konten-buku').html(parspro.page);
		});	
	}
	
	function searchdt(){
		var vlcr = $('#cari').val();
		if(vlcr == ""){
			$('#modalencuk').html('Masukkan Inputan Judul Yang Anda Cari!');
			$('#productModal').modal('show'); 
		}else{
			$('#konten-utama-buku').html('');
			$.post(host+'filtering-data', { 'cr':vlcr }, function(rpload){
				parsload = $.parseJSON(rpload);
				$('#konten-utama-buku').html(parsload.page);
			});
		}
	}
	
	function loaddatabook(typ, ixd){
		$('#konten-utama-buku').html('');
		$.post(host+'filtering-data', { 'ty':typ, 'isd':ixd }, function(rpload){
			parsload = $.parseJSON(rpload);
			$('#konten-utama-buku').html(parsload.page);
		});
	}
	
	{if $flag_window eq 'uye'}	
		$.post(host+'session-zona', { }, function(respo){
			parsingans = $.parseJSON(respo)
			$('#modalencuk').html(parsingans.page);			
			
			$('#productModal').modal({
				backdrop: 'static',
				keyboard: false
			}); 
			$('#productModal').modal('show'); 
			$('#button_close').hide();
		});
	{/if}
</script>