<div class="page-content">
	<div class="page-header-v1 bg-1 overlay-bg  text-center">
		<div class="page-header-inner">
			<p class="page-category">&nbsp;</p>
			<h2 class="page-title">KATALOG BUKU {$nama_kategori}</h2>
			<div class="breadcrumbs">
				&nbsp;
			</div>
		</div>
	</div>
	
	<div class="shop-area shop-page bg-white-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8 left-side-wrap-v1 ">
					<div class="shop-content-area">
						<div class="row">
							<div class="product-toolbar clear">
								<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ">
									<!--start List & Grid  -->
									<ul role="tablist" class="view-mode-tab-btn clear">
										<li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="grid" title="Grid" href="#grid" aria-expanded="true"><i class="fa fa-th"></i></a></li>
										<li role="presentation" class=""><a data-toggle="tab" role="tab" aria-controls="list" title="List" href="#list" aria-expanded="false"><i class="fa fa-th-list"></i></a></li>
									</ul>
									<!--End List & Grid  -->
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane fade in active" id="grid">
									{if $data_buku}
										{foreach from=$data_buku item=row}
											<div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
												<div class="single-product text-center">
													<div class="pro-thumb overlay-bg">
														<img src="{$host}img/product/full/1.jpg" alt="product img" />
														<div class="hover-btn">
															<ul class="action-buttons">
																<li class="cart"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
																<li class="quickview"><a href="#" class="modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="fa fa-eye"></i></a></li>
															</ul>
														</div>
													</div>
												
													<div class="pro-info">
														<p class="pro-category">{$row.nama_kategori}</p>
														<font style='font-size:15px !important;'><a href="#">{* $row.judul_buku *} Title Product Here</a></font>
													</div>
												</div>
											</div>
										{/foreach}
										{*
											<div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
												<div class="single-product text-center">
													<div class="pro-thumb overlay-bg">
														<img src="{$host}img/product/full/1.jpg" alt="product img" />
														<div class="hover-btn">
															<ul class="action-buttons">
																<li class="cart"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
																<li class="quickview"><a href="#" class="modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="fa fa-eye"></i></a></li>
															</ul>
														</div>
													</div>
												
													<div class="pro-info">
														<p class="pro-category">tst</p>
														<font style='font-size:15px !important;'><a href="#">{* $row.judul_buku  TESTER AJA BRAYY</a></font>
													</div>
												</div>
											</div>
										*}
									{else}
									<center>-- Tidak Ada Data Tersedia -- </center>
									{/if}
								</div>
								
								<div role="tabpanel" class="tab-pane fade" id="list">
									<div class="product-list-view-area clear">
										{if $data_buku}									
											{foreach from=$data_buku item=row}
												<div class="col-md-12">
													<div class="single-product text-left fix">
														<div class="pro-thumb">
															<img src="{$host}img/product/list/full/1.jpg" alt="product img" />
														</div>
														<div class="pro-info">
															<p class="pro-category">{$row.nama_kategori}</p>
															<h3 class="pro-title"><a href="#">{$row.judul_buku}</a></h3>
															<div class="product-action">
																<a href="#" class="estut-btn">ADD TO CART</a>
															</div>
														</div>
													</div>
												</div>
											{/foreach}
										{else}
											<center>-- Tidak Ada Data Tersedia -- </center>
										{/if}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="col-md-4 right-side-wrap-v1">
					<div class="widget-wrap">
						<aside class="widget widget-categories">
							<h3 class="widget-title-v2">Katalog</h3>
							<div class="widget-content">
								<div id='categorymenu'>
									<ul class="widget-menu widget-submenu">   
										{foreach from=$data_tingkatan item=row}
											<li><a href="{$host}kategori/{$row.tingkatan|lower}">{$row.tingkatan}</a></li>
										{/foreach}
									</ul>
								</div>
							</div>
						</aside>
						<aside class="widget widget-filtering">
							<h3 class="widget-title-v2">Kategori</h3>
							<div class="widget-content">
								<div id='categorymenu'>
									<ul class="widget-menu widget-submenu">   
										{foreach from=$data_kategori item=rows}
											<li><a href="#">{$rows.nama_kategori}</a></li>
										{/foreach}
									</ul>
								</div>
							</div>							
						</aside>
						<aside class="widget widget-categories">
							<h3 class="widget-title-v2">Pengguna Buku</h3>
							<div class="widget-content">
								<div id='categorymenu'>
									<ul class="widget-menu widget-submenu">   
										{foreach from=$data_pengguna item=rowss}
											<li><a href="#">{$rowss.nama_group}</a></li>
										{/foreach}
									</ul>
								</div>							
							</div>							
						</aside>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</div>
