{if $data_cart}
	{foreach from=$data_cart item=rows}
		<tr>
			<td><img src="{$host}img/cart/2.jpg"></td>
			<td>{$rows.name}</td>
			<td>{$rows.price}</td>
			<td><input type='text' id='qrt_{$rows.rowid}' style='width:80px !important;' value='{$rows.qty}' /> </td>
			<td>{$rows.subtotal}</td>
			<td style='text-align:center !important;'>
				<a href="javascript:void(0);" onClick="forcart('apdeting','{$rows.rowid}', '{$ck}')"><i class="fa fa-refresh"></i></a>
				<a href="javascript:void(0);" onClick="forcart('delting','{$rows.rowid}', '{$ck}' )"><i class="fa fa-times"></i></a>
			</td>
		</tr>
	{/foreach}
{else}
	<tr>
		<td align='center' colspan='6'>-- Tidak Ada Data --</td>
	</tr>
{/if}


{*
	{foreach from=$data_cart item=rows}
		<div class="cart-single-product" id='xx_{$rows.rowid}'>
			<div class="cart-single-product-img">
				<img src="{$host}img/cart/2.jpg">
			</div>
			<div class="cart-single-product-title">
				<a href="javascript:void(0);">{$rows.name}</a>
				<input type='text' id='qrt_{$rows.rowid}' style='width:80px !important;' value='{$rows.qty}' /> 
				x
				Rp. {$rows.price}
				=
				Rp. {$rows.subtotal}
			</div>
			<div class="cart-single-product-del">
				<a href="javascript:void(0);" onClick="forcart('apdeting','{$rows.rowid}', '{$ck}')"><i class="fa fa-refresh"></i></a>
				<a href="javascript:void(0);" onClick="forcart('delting','{$rows.rowid}', '{$ck}' )"><i class="fa fa-times"></i></a>
			</div>
		</div>
	{/foreach}

*}