<div class="product-info" style="width:100% !important; margin-left:-20px !important;">
	<div class="price-box-3">
		<div class="s-price-box">
			<span class="new-price"><span id='zon_{$data_buku.id}'>Keranjang Belanja Anda</span></span><br/>
		</div>
	</div>
	<div class="" style='display:inline !important;'>
		{if $data_cart}
			{foreach from=$data_cart item=rows}
				<div class="cart-single-product">
					<div class="cart-single-product-img">
						<img src="{$host}img/cart/2.jpg">
					</div>
					<div class="cart-single-product-title">
						<a href="#">{$rows.name}</a>
						<input type='text' style='width:80px !important;' value='{$rows.qty}' /> 
						x
						Rp. {$rows.price}
						=
						Rp. {$rows.subtotal}
					</div>
					<div class="cart-single-product-del">
						<a href="#"><i class="fa fa-refresh"></i></a>
						<a href="#"><i class="fa fa-times"></i></a>
					</div>
				</div>
			{/foreach}
			<div class="action-cart">
				<a class="checkout" href="{$host}selesai-belanja">Check Out</a>
			</div>
		{else}
			<center>-- Anda Belum Belanja --</center>
		{/if}
	</div>
</div>
