<link rel="stylesheet" href="{$host}__assets/ef/css/starrating/cssrating.css" type="text/css" media="screen" />
<div class="page-content">
	<div class="contact-us-area padding100 bg-white-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="contact-form-area">
						<div class="form-wrap">
							<form id='frmkomentar' url="{$host}submit-komentar" method='post' enctype="multipart/form-data" class="form-inline">
								<div class="form-inner" style='min-height:300px !important;'>
									<div class="single-input one-half left">
										<label>NPSN <span>*</span></label> 
										<input name="npsn" id="npsn" class='validasi' type="text" required="required">
										<br/>
										<br/>
									</div>
									<div class="single-input one-half right">
										<label>Email Sekolah <span>*</span></label> 
										<input type="text" name="emsek" class='validasi' value="" required="required">
										<br/>
										<br/>
									</div>	
									<div class="single-input one-half left">
										<label>No. Invoice<span>*</span></label> 
										<input type="text" name="inv" class='validasi' value="{$data.nama_bendahara|default:''}" required="required">
										<br/>
										<br/>
									</div>
									<div class="single-input one-half right">
										<label>Rating Anda <span>*</span></label> 										
										<span class="starRating">
										  <input id="rating5" type="radio" class='validasi' name="rating" value="5">
										  <label for="rating5">5</label>
										  <input id="rating4" type="radio" class='validasi' name="rating" value="4">
										  <label for="rating4">4</label>
										  <input id="rating3" type="radio" class='validasi' name="rating" value="3">
										  <label for="rating3">3</label>
										  <input id="rating2" type="radio" class='validasi' name="rating" value="2">
										  <label for="rating2">2</label>
										  <input id="rating1" type="radio" class='validasi' name="rating" value="1">
										  <label for="rating1">1</label>
										</span>
										
										<br/>
										<br/>
										<br/>
									</div>	
									<div class="single-input">
										<label>Komentar Anda <span>*</span></label> 
										<textarea name="kmntr" class='validasi' class="textarea"></textarea>
									</div>	
									<div class="submit-btn-area text-center">
										<br/>
										<a id='selesai_submit' href='javascript:void(0);' class="estut-btn active submit">Submit Komentar</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

	$(".validasi").validatebox({ required:true }); 
	$('#selesai_submit').on('click', function(){
		validasi = $('#frmkomentar').form('validate');
		if(validasi){
			$.blockUI({ message: '<h3>Data Sedang Diproses...</h3>' });			
		}
		submit_form('frmkomentar', function(resp){
			if(resp == 1){
				$.unblockUI();
				$('#modalencuk').html("Komentar Anda Sudah Dimasukkan Dalam System Kami.");			
				$('#productModal').modal('show');
				$('#frmkomentar')[0].reset();
			}else if(resp == 2){
				$.unblockUI();
				$('#modalencuk').html("Data Email Anda Sudah Ada Dalam System Kami!");			
				$('#productModal').modal('show'); 
			}else if(resp == 3){
				$.unblockUI();
				$('#modalencuk').html("Data NPSN Anda Sudah Ada Dalam System Kami!s");			
				$('#productModal').modal('show'); 					
			}
		});
	});
</script>