<div class="page-content">
	<div class="contact-us-area padding100 bg-white-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="contact-form-area">
						<div class="form-wrap">
<section class="our-school-area">
					<div class="container">
						<div class="row">
							<div class="our-school-inner">
								<div class="col-md-6";>
									<div class="school-info padding30" style="background-image: url(img/boss.png)"alt="aldeaz sejahtera printing">
										<h2 class="section-title">Aldeaz Sejahtera Printing</h2>
										<p>Kami merupakan percetakan yang berdiri sejak tahun 2010. Seiring dengan tuntutan akan kebutuhan produk cetak oleh masyarakat, maka kami melayani pemesanan  buku -buku  untuk keperluan sekolah,  pendidikan umum,  LKS, tabloid, majalah, buku tulis, leaflet, poster, brosur, surat suara pilkada, dan beberapa percetakan lainnya.</p>
										<p>Kami sadar bahwa kami bukan yang terbaik, tapi kami selalu berusaha untuk memberikan sebaik mungkin kepada klien kami, tanpa klien kami bukanlah apa-apa dan bukan siapa-siapa</p>
										<p>Kepercayaan klien kepada kami merupakan modal kami dan menjadi motivator bagi kami untuk terus maju dan berkarya tiada henti. </p>
									<br>
									<br>
									<br>
									<br>
									<br>
									</div>
								</div>
								<div class="col-md-6">
									<div class="school-pic">
										<img src="img/menteri-nuh-1.png" alt="hadi gunowo">
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>