			<div class="page-content">
				<div class="page-header-v1 bg-1 overlay-bg  text-center">
					<div class="page-header-inner">
						<p class="page-category">&nbsp;</p>
						<h2 class="page-title">Kontak Kami</h2>
						<div class="breadcrumbs">
							&nbsp;
						</div>
					</div>
				</div>
				
				<div class="contact-us-area padding100 bg-white-2">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="contact-info-list text-center clear">
									<div class="contact-info-inner clear">
										<!-- Start Single info -->
										<div class="single-info location bg-white text-center">
											<div class="info-icon">
												<img src="img/icon/map-marker.png" alt="">
											</div>
											<div class="info-dis">
												<h3 class="con-in-title">Alamat Workshop</h3>
												<address>
													<p>Jl. Merdeka Barat, Depok Timur</p>
												</address>
											</div>
										</div>
										<!-- End Single info -->
										<!-- Start Single info -->
										<div class="single-info phone-no bg-white  text-center">
											<div class="info-icon">
												<img src="img/icon/phone.png" alt="">
											</div>
											<div class="info-dis">
												<h3 class="con-in-title">No. Kontak</h3>
												<p><a href="tel:+8801973833508">+880 1973 833508</a></p>
												<p><a href="tel:+8801916137024">+880 1916 137024</a></p>
											</div>
										</div>
										<!-- End Single info -->
										<!-- Start Single info -->
										<div class="single-info email bg-white  text-center">
											<div class="info-icon">
												<img src="img/icon/email.png" alt="">
											</div>
											<div class="info-dis">
												<h3 class="con-in-title">Alamat Email</h3>
												<p><a href="mailto:admin@hastech.company">admin@hastech.company</a></p>
												<p><a href="mailto:bestcareerbd@gmail.com">bestcareerbd@gmail.com</a></p>
											</div>
										</div>
										<!-- End Single info -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="contact-map">
					<div id="googleMap" style="width:100%;height:500px;"></div>
				</div>
			</div>
			
			
