<div class="page-content">
	<div class="contact-us-area padding100 bg-white-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="contact-form-area">
						<div class="form-wrap">
<section class="our-school-area">
					<div class="container">
						<div class="row">
							<div class="our-school-inner">
								<div class="col-md-6";>
									<div class="school-info padding30" style="background-image: url(img/bosseeeee.png)"alt="aldeaz sejahtera printing">
										<h3>Aldeaz Sejahtera Printing</h3>
										<p>Kami sebuah perusahaan di bidang percetakan yang mulai berdiri sejak tahun 2010. Seiring dengan tuntutan dan kebutuhan produk cetak oleh masyarakat, saat ini kami melayani pengadaan untuk :</p>
										<ul class="course-details-list blog-quote-content">
											<li> Buku kurikulum nasional</li>
											<li> Buku pendidikan sekolah umum </li>
											<li> Buku bacaan umum</li>
											<li> Buku tulis dan buku hasil karya</li>
											<li> Majalah</li>
											<li> Tabloid</li>
											<li> Koran</li>
											<li> Leaflet </li>
											<li> Poster </li>
											<li> Brosur </li>
											<li> Kalender</li>
											<li> Surat suara </li>
											<li> dan beberapa cetakan lainnya.</li>
										</ul>
									<p>Kami bukan yang terbesar ataupun terbaik, tapi kami selalu berusaha untuk memberikan sebaik mungkin kepada pelanggan kami. Kepercayaan pelanggan kepada kami selama ini merupakan modal dan menjadi motivasi untuk terus maju dan berkarya tiada henti.</p>
 										<a class="bloger" href="#">Hadi Gunowo</a>
										<a class="bloger" href="#">Founder & CEO</a>
									</div>
								</div>
								<div class="col-md-6">
									<div class="school-pic">
										<img src="__assets/images/boss.png" alt="hadi gunowo">
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>