{if $type eq 'one'}
	{foreach from=$data_buku item=row}
		<div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
			<div class="single-product text-center">
				<div class="pro-thumb overlay-bg">
					<img src="{$row.foto_buku}" alt="{$row.nama_paket}" style='height:200px !important;' />
					<div class="hover-btn">
						<ul class="action-buttons">
							<li class="quickview"><a href="javascript:void(0);" onClick="productwindow('{$row.id}');" ><i class="fa fa-hand-o-up"> Detail Paket</i></a></li>
						</ul>
					</div>
				</div>
			
				<div class="pro-info" style='min-height:50px !important;'>
					<p class="pro-category" style='margin-bottom:5px !important;'>Klik Detail Untuk Melihat Harga</p>
					<div style='margin-bottom:5px;'><font style='font-size:15px !important;'>{$row.nama_paket}</font></div>
				</div>
			</div>
		</div>
	{/foreach}
{/if}
