<div class="quick-add-to-cart">
	<font color='red'>
		<center>Anda Berada Dalam Zona {$zona}</center>
	</font>
	<br/>
	<br/>
	<div class="table-responsive">
		<table class="table">
			<thead>
				  <tr style='background:#EEDDFF;'>
					<th style='text-align:center'>Kode Buku</th>
					<th style='text-align:center'>Judul Buku</th>
					<th style='text-align:center'>ISBN</th>
					<th style='text-align:center'>Jml Hal.</th>
					<th style='text-align:center'>Zona 1</th>
					<th style='text-align:center'>Zona 2</th>
					<th style='text-align:center'>Zona 3</th>
					<th style='text-align:center'>Zona 4</th>
					<th style='text-align:center'>Zona 5</th>
				  </tr>
			</thead>
			<tbody>
			{if $data_buku}
				{foreach from=$data_buku item=rows}
					<tr>
						<td>{$rows.kode_buku}</td>
						<td>{$rows.judul_buku}</td>
						<td>{$rows.isbn}</td>
						<td>{$rows.jml_hal}</td>
						<td>{$rows.harga_zona_1}</td>
						<td>{$rows.harga_zona_2}</td>
						<td>{$rows.harga_zona_3}</td>
						<td>{$rows.harga_zona_4}</td>
						<td>{$rows.harga_zona_5}</td>
					</tr>
				{/foreach}
			{else}
				<tr>
					<td colspan='9' style='text-align:center'>:: Tidak Ada Data Detail Paket ::</td>
				</tr>
			{/if}
			</tbody>
		</table>
	</div>
	
	{if $data_buku}
	<div class="numbers-row">
		<input type="number" style='width:80px !important;' id="french-hens_{$idpaket}" value="1">
	</div>
	<button id='sbm-cart_{$idpaket}' class="single_add_to_cart_button" >Beli Paket</button>
	{/if}
</div>

<script>
	$('#sbm-cart_{$idpaket}').on('click', function(){
		var posting = {};
		posting['zn'] = '{$zona}';
		posting['iipx'] = '{$idpaket}';
		posting['yqt'] = $('#french-hens_{$idpaket}').val();
		$.post(host+'keranjang-belanja-masuk-paket', posting, function(resp){
			if(resp){
				$('#productModal').modal('hide'); 
				$.post(host+'banyak-belanja', { } , function(prsp) {
					$('#tot_item').html(prsp);
				} );
				alert('Paket Buku telah ditambahkan, bisa di lihat di keranjang belanja di kanan atas! atau silahkan lanjutkan belanja');
			}else{
				alert('Terjadi Kegagalan System, Coba Lagi!');
			}
		});
	});
</script>

