{literal}
<style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	
}
.cancel{
	color:#FFFFFF;
	background-color: red;
}
</style>
{/literal}

<table width="100%" style='font-family:helvetica,arial,verdana,sans; font-size:12px;'>
	<tr>
		<td style="width: 35%; height: 50px;"><img src='__assets/ef/img/logo_aldeaz_baru.png' width='200px' /></td>
		<td style="width: 50%; height: 80px; color: #00000; text-align: center; " valign="middle">
			<div style="font-family:arial; font-weight:bold;">		
				<h3>SURAT PESANAN BUKU K-13 SEMESTER 2</h3>
				<table width='100%'>
				<tr>
					<td width='20%'>No</td>
					<td width='5%'>:</td>
					<td width='75%'>{$inv}</td>
				</tr>
			</table>
			</div>
		</td>
		<td style="width: 15%; height: 80px;" align='right'>
			<img src='__assets/ef/img/qr.png' width='50px' height='50px' />
		</td>
	</tr>	
	<tr>
		<td colspan='3'><hr /></td>
	</tr>
</table>
<p style='font-family:helvetica,arial,verdana,sans; font-size:14px; font-weight:bold;'> 
	DATA SEKOLAH PENERIMA
</p>

<table width="100%" style='font-family:helvetica,arial,verdana,sans; font-size:12px;'>
	<tr>
		<td width='20%'>NPSN</td>
		<td width='5%'>:</td>
		<td width='75%'>{$data_invoice.npsn}</td>
	</tr>
	<tr>
		<td>Zona Pengiriman</td>
		<td>:</td>
		<td>{$data_invoice.zona}</td>
	</tr>
	<tr>
		<td>Provinsi</td>
		<td>:</td>
		<td>{$data_invoice.provinsi}</td>
	</tr>
	<tr>
		<td>Kabupaten</td>
		<td>:</td>
		<td>{$data_invoice.kab_kota}</td>
	</tr>
	<tr>
		<td>Nama Sekolah</td>
		<td>:</td>
		<td>{$data_invoice.nama_sekolah}</td>
	</tr>
	<tr>
		<td>Alamat</td>
		<td>:</td>
		<td>{$data_invoice.alamat_pengiriman}</td>
	</tr>
	<tr>
		<td>Nama Penanggung Jawab</td>
		<td>:</td>
		<td>{$data_invoice.nama_kepala_sekolah}</td>
	</tr>
	<tr>
		<td>No. Handphone</td>
		<td>:</td>
		<td>{$data_invoice.no_hp_kepsek}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>:</td>
		<td>{$data_invoice.email}</td>
	</tr>
</table>

<br/>
<p style='font-family:helvetica,arial,verdana,sans; font-size:14px; font-weight:bold;'> 
	PENGIRIM
</p>


<table width="100%" style='font-family:helvetica,arial,verdana,sans; font-size:12px;'>
	<tr>
		<td width='20%'>Nama</td>
		<td width='5%'>:</td>
		<td width='75%'>
			CV. Aldeaz Sejahtera Printing
		</td>
	</tr>
	<tr>
		<td>Alamat</td>
		<td>:</td>
		<td>Jl. Merdeka No. 100 Abadijaya - Sukmajaya - Kota Depok - Provinsi Jawa Barat 16417</td>
	</tr>
	<tr>
		<td>No. Telp</td>
		<td>:</td>
		<td> 021. 7701525</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>:</td>
		<td> marketingaldeaz@gmail.com</td>
	</tr>
	<tr>
		<td>Website</td>
		<td>:</td>
		<td> www.aldeaz.id</td>
	</tr>
</table>

<br/>
<br/>
<table width="100%" class="gridtable" style='font-family:helvetica,arial,verdana,sans; font-size:12px;'>
	<thead>
		<tr style='background:#FAF8FD'>
			<td colspan='7' align='center' style='font-weight:bold;text-align:center'>
				JUMLAH PESANAN BUKU K13 SEMESTER 2
			</td>
		</tr>
		<tr style='background:#FAF8FD'>
			<td style='font-weight:bold;text-align:center'>No</td>
			<td style='font-weight:bold;text-align:center'>Kelas</td>
			<td style='font-weight:bold;text-align:center'>Siswa/Guru</td>
			<td style='font-weight:bold;text-align:center'>Judul Buku</td>
			<td style='font-weight:bold;text-align:center'>Harga Rp.</td>
			<td style='font-weight:bold;text-align:center'>Jumlah</td>
			<td style='font-weight:bold;text-align:center'>Total Harga</td>
		</tr>
	</thead>
	<tbody>
		{assign var=ind value=1}
		{foreach from=$datadetailpesanan item=rows}
			<tr>
				<td>{$ind}</td>
				<td>{$rows.kelas}</td>
				<td>{$rows.nama_group}</td>
				<td>{$rows.judul_buku}</td>
				<td>{$rows.harga}</td>
				<td>{$rows.qty}</td>
				<td>{$rows.subtotal}</td>
			</tr>
			{assign var=ind value=$ind+1}
		{/foreach}
	</tbody>
</table>
<br/>

<p style='font-family:helvetica,arial,verdana,sans; font-size:12px; font-weight:bold;'> 
	DEPOK, {$smarty.now|date_format:"%d %b %Y"|default:'-'}
</p>
<br/>

<table width="100%" style='font-family:helvetica,arial,verdana,sans; font-size:12px;'>
	<tr>
		<td style="width: 35%; height: 80px;" align='left'>
			Penanggung Jawab Sekolah
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			..................
		</td>
	</tr>	
</table>


