			<div class="page-content">
				<div class="page-header-v1 bg-1 overlay-bg  text-center">
					<div class="page-header-inner">
						<p class="page-category">&nbsp;</p>
						<h2 class="page-title">Tentang Kami</h2>
						<div class="breadcrumbs">
							&nbsp;
						</div>
					</div>
				</div>
				<section class="our-school-area">
					<div class="container">
						<div class="row">
							<div class="our-school-inner">
								<div class="col-md-6">
									<div class="school-info padding-t50">
										<h2 class="section-title">Our School</h2>
										<p>
											Codespot ltd. is an outsourcing, software, mobile applications and website design based in Ho Chi Minh 
											city, Vietnam. We open job positions for talent and enthusiasm 
											persons who could bring the best technologies and the most values to clients and community. 
											At Codespot, not only you are working, you're creative!
										</p>

										<p>
											Codespot ltd. was founded by a group of passionate and experience 
											programmers in technologies. Over three years, Codespot 
											Company has built a good image with our partners and clients 
											Separate your website from the crowd 
											is our mission. We join to turn your ideas into reality. 
											Outstanding Website, your business will stand out. You succeed, we succeed.
										"</p>

										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
											Aenean eu tellus ipsum. Nunc maximus sapien ac dui vulputate tincidunt. 
											Morbi luctus nisi vel suscipit volutpat. Donec vitae auctor nisl. 
											Ut malesuada felis in erat rutrum ultrices. 
											Fusce iaculis ornare nunc rutrum ornare. 
											Proin ut placerat enim, vel venenatis urna. 
											Phasellus sed diam tincidunt mauris malesuada mattis et in nisl. 
											Quisque massa eros, molestie at mi eget, aliquam tristique eros. 
										</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="school-pic">
										<img src="img/courses/1.png" alt="school image">
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				
				<div class="testimonial-area bg-3 overlay-bg padding100">
					<div class="testimonial-container owl-controls-style-1">
					</div>
				</div>
			</div> 
		
