/*------------------------------------------
  All header style
--------------------------------------------*/
/*--------------------------------------  
  2.  Header Area
----------------------------------------*/
/*--------------------------------------  
  2.1  Header Top
----------------------------------------*/

.header-top {
    padding: 17px 0;
}
.header-top i {
    font-size: 16px;
}
.header-top-info > p,
.header-top-right ul > li {
    border-left: 1px solid #24bbff;
    display: inline-block;
    font-size: 13px;
    line-height: 1;
    padding: 0 11px 0 16px;
}
.header-top-info > p:first-child,
.header-top-right ul > li:first-child {
    border-left: medium none;
    padding-left: 0;
}
.header-top-info > p i,
.header-top-right ul > li i {
    margin-right: 10px;
}
.search-form button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.search-form form input[type="text"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    font-family: 'Lato', sans-serif;
}
.header-top-info > p {
    margin: 0;
}
.cart-active {
    position: relative;
}
.cart-btn a {
    padding: 20px 0;
    position: relative;
    z-index: 99999;
}
.cart-btn a sup {
    background: #ffeb38 none repeat scroll 0 0;
    border-radius: 100%;
    color: #676767;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 700;
    height: 20px;
    line-height: 19px;
    position: absolute;
    right: -15px;
    text-align: center;
    top: 10px;
    width: 20px;
}
.cart-form {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    padding: 20px;
    position: absolute;
    right: 0;
    top: 36px;
    transition: all 0.5s ease 0s;
    width: 250px;
    z-index: 9999999;
    opacity: 1;
    transform: scaleY(0);
    transform-origin: 0 0 0;
}
.cart-single-product {
    border-bottom: 1px solid #EFEFEF;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}
.cart-single-product-img {
    float: left;
    margin-right: 10px;
    width: 55px;
}
.cart-single-product-title a {
    color: #676767;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}
.cart-single-product-title p {
    font-size: 13px;
    margin: 0;
}
.cart-single-product-title {
    float: left;
    text-align: left;
}
.cart-single-product-del {
    float: right;
    margin-top: 20px;
}
.cart-single-product-del i {
    font-size: 18px;
}
.total-amount p {
    font-size: 14px;
    text-align: left;
    width: 50%;
    float: left;
    font-weight: 700;
    margin: 0px;
}
.total-amount span {
    float: right;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: right;
}
.total-amount {
    border-bottom: 1px solid #ededed;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.action-cart a {
    color: #fff;
    display: inline-block;
    font-weight: 700;
    padding: 12px 17px;
}
.action-cart {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.cart-single-product-del a:hover {
    color: red;
}
.action-cart a:hover {
    color: #000;
}
.cart-single-product-title a:hover {
    color: #FFEB38;
}
.viewcart {
    margin-right: 5px;
}
.checkout {
    margin-left: 5px;
}
.cart-active:hover .cart-form {
    opacity: 1;
    transform: scaleY(1);
}
/*-------------------------------------
  Header bottom
---------------------------------------*/
/*-------------------------------------
  Main menu area
---------------------------------------*/

.header-bottom {
    padding: 20px 0;
}
.header-logo {
    padding-top: 10px;
}
.primary-menu > ul > li {
    float: left;
    margin-left: 35px;
    position: relative;
}
.primary-menu > ul > li > a {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 25px 0;
    display: block;
    font-size: 13px;
}
span.indicator i {
    font-size: 13px;
}
/*---------------------------------
  Drop down menu area 
-----------------------------------*/

.estut-dropdown {
    left: 0;
    top: 120%;
}
.estut-dropdown > li {
    width: 250px;
    position: relative;
    border-bottom: 1px solid #ebebeb;
}
.estut-dropdown li:last-child {
    border-bottom: none;
}
.estut-dropdown li a {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    color: #999999 !important;
    padding: 15px;
    display: block;
    position: relative;
    transition: .3s;
    text-transform: uppercase;
    font-weight: 700;
}
.estut-dropdown > li > a span.indicator {
    position: absolute;
    right: 10px;
}
.primary-menu > ul > li:hover .estut-dropdown {
    opacity: 1;
    visibility: visible;
    top: 100%
}
.estut-dropdown {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 250px;
    z-index: 999999;
}
/* Header V2 */

.spectar {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(73, 197, 135, 1) 0%, rgba(73, 197, 135, 1) 1%, rgba(75, 201, 226, 1) 6%, rgba(255, 117, 117, 1) 13%, rgba(240, 200, 81, 1) 20%, rgba(141, 116, 185, 1) 27%, rgba(248, 118, 79, 1) 34%, rgba(73, 197, 135, 1) 42%, rgba(75, 201, 226, 1) 49%, rgba(255, 117, 117, 1) 56%, rgba(73, 197, 135, 1) 63%, rgba(255, 117, 117, 1) 70%, rgba(240, 200, 81, 1) 77%, rgba(141, 116, 185, 1) 84%, rgba(248, 118, 79, 1) 91%, rgba(73, 197, 135, 1) 98%, rgba(73, 197, 135, 1) 100%) repeat scroll 0 0;
    height: 4px;
    width: 100%;
}
.header-v2 .header-top-info > p,
.header-v2 .header-top-right ul > li {
    border-color: #4e4e4e;
}
.header-v2 .cart-btn a sup {
    background: #f3d474 none repeat scroll 0 0;
    color: #676767;
}
.header-v2 .primary-menu > ul > li {
    display: inline-block;
    float: none;
}
.header-v2 .estut-dropdown > li {
    line-height: normal;
    text-align: left;
}
.header-v2 .primary-menu > ul > li > a {
    color: #212121;
    display: block;
    font-weight: 400;
    line-height: 110px;
    padding: 0;
}
.header-v2 .header-bottom {
    box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
    padding: 0;
    position: relative;
    z-index: 99999;
}
.header-logo-2 {
    bottom: -15px;
    position: relative;
}
.menu-logo-2 {
    bottom: 0;
    position: relative;
}
.header-v2 .primary-menu > ul {
    height: 110px;
}
.header-v2 .primary-menu > ul > li {
    line-height: 110px;
    margin-top: -14px;
}