<!--a href="{$href|default:'javascript:void(0);'}"  target='{$target|default:''}' class="l-btn l-btn-small "  group="" id="{$id}" onClick="{$click|default:''}" style="{$style|default:''}">
	<span class="l-btn-left l-btn-icon-left">
		<span class="l-btn-text">{$text}</span><span class="l-btn-icon icon-{$icon}"></span>
	</span>
</a--> 
<a href="{$href|default:'javascript:void(0);'}"  target='{$target|default:''}' class="btn {$style_btn|default:'btn-primary'} m-b-10" group="" id="{$id_na|default:'add'}_{$acak}" onClick="{$click|default:''}" style="{$style|default:''}">{$text}</a> 
