<div style='float:left;width:100%'>
	<fieldset>
	<label>Month</label>: 
		<select  style="width:20%;padding:2px;margin-right:50px;" id="bulan_{$main}" name="bulan_empMonth">
			<option value="1">January</option>
			<option value="2">February</option>
			<option value="3">March</option>
			<option value="4">April</option>
			<option value="5">May</option>
			<option value="6">June</option>
			<option value="7">July</option>
			<option value="8">August</option>
			<option value="9">September</option>
			<option value="10">October</option>
			<option value="11">November</option>
			<option value="12">December</option>
		</select>
	
	{* {html_select_date prefix='bulan_emp' start_year='+5' end_year='+5' month_extra='11' display_days=false display_years=false all_extra='id="bulan" style="width:20%;padding:2px;margin-right:50px;"'} *}
	
	{assign var=thnnyauy value="tahun_{$main}" }
	
	<label>Year</label>: {html_select_date prefix='tahun_emp' start_year='-5' end_year='+5' display_days=false display_months=false year_id=$thnnyauy all_extra='style="width:20%;padding:2px;"'}
	
	{if $buton|default:'no' eq 'ya'}
	<label>
		<a href="javascript:void(0)" style='' class="l-btn l-btn-small l-btn-plain go_report" group="" id="" onClick="">
			<span class="l-btn-left l-btn-icon-left">
				<span class="l-btn-text">Generate</span><span class="l-btn-icon icon-reload">&nbsp;</span>
			</span>
		</a>
	</label>
	{/if}
	
	{if $buton2|default:'no' eq 'ya'}
	<label>
	<a href="javascript:void(0)" style='' class="l-btn l-btn-small l-btn-plain" group="" id="" onClick="kumpulAction('{$main}');">
		<span class="l-btn-left l-btn-icon-left">
			<span class="l-btn-text">Generate</span><span class="l-btn-icon icon-reload">&nbsp;</span>
		</span>
	</a>		
	</label>
	{/if}
		
	</fieldset>
</div>
<script>
	$('#bulan_{$main}').val({$data_date.bulan|default:1})
	$('#tahun_{$main}').val({$data_date.tahun|default:2015})
</script>