	<div id='header'>
		<table width="100%">
			<tr>
				<td style="width: 120px; height: 80px;"><img src='__assets/ef/img/logo/logo.png' width='100px' /></td>
				<td style="height: 80px; color: #00000; text-align: center;" valign="top">
					<div style="font-family:arial; font-weight:bold;">		
					<h5>
						<br/><br/>
						{$judul_header|default:'-'}<br><br>
						{if $nomor|default:'' neq ''}NOMOR: {$nomor|default:''}{/if}
					</h5>
					</div>
					
					<br />
				</td>
				<td style="width: 120px; height: 80px;">
					
				</td>
			</tr>
			
			<tr>
				<td colspan='3'><hr /></td>
			</tr>
		</table>
	</div> 
