<table width="100%" id="ver-zebra" style="width:90%">
	 <colgroup>
    	<col class="vzebra-odd" />
    	<col class="vzebra-even" />
    	<col class="vzebra-odd" />
        <col class="vzebra-even" />
		<col class="vzebra-odd" />
		<col class="vzebra-even" />
    </colgroup>
	<thead>
		<tr>
			{foreach from=$col item=i}
				<th id="vzebra-comedy" scope="col">{$i}</th>
			{/foreach}
			<!--th id="vzebra-comedy" scope="col">Activity Name</th>
			<th id="vzebra-adventure" scope="col">Resource Driver</th>
			<th id="vzebra-comedy" scope="col">Quantity</th>
			<th id="vzebra-adventure" scope="col">Proportion</th>
			<th id="vzebra-comedy" scope="col">Amount</th-->
		</tr>
	</thead>
	
	<tbody>
		
	</tbody>
	<tfoot>
		<tr style="border-top:1px solid ">
			<td>Total Cost</td>
			<td >&nbsp;</td>
			<td >&nbsp;</td>
			<td>Total</td>
			<td align="right">100%</td>
			<td align="right">999.999.999.99</td>
		</tr>
	<tfoot>
	</table>
	